<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/Login.css" />
</head>


<body background="http://attach.bbs.miui.com/forum/201210/31/200914wgvfz8bfwtftgubg.jpg" style="background-repeat:no-repeat; background-size:100% 100%; background-attachment:fixed;">
   <h1 style="color: rgb(106,146,168);text-align: center;">TODO_Management</h1>
   <h1 style="color: rgb(106,146,168);text-align: center;">登录界面</h1>
    <form style="color: rgb(106,146,168);text-align: center;" action="/login_api/" method="post">
        {% csrf_token %} 
        <br><br>
        <strong>用户名：</strong><input type="text" name="user"/> <br><br>
        <strong>密码：</strong><input type="password" name="pwd"/><br><br>
        <div>&nbsp;</div>
        <input class="LoginButton" type="submit" value="登录"/> <br>
    </form>

    <br>
    <button class="GoToRegisterButton" onclick="location.href='/register'">
        没有账号？注册一下
    </button>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg }}');
        {% endfor %}
    </script>
    {% endif %}
</body>
</html>