<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/static/Login.css" />
</head>


<body>
  <div class="page">
      <div class="container">
          <div class="left">
              <div class="login">TODO</div>
              <div class="eula">Get your life in order</div>
          </div>
          <div class="right" >
              <form class="form" action="/login_api/" method="post">
                  {%csrf_token%}
                  <label >Username</label>
                  <input type="text" name="user">
                  <label >Password</label>
                  <input type="password" name="pwd">
                  <input type="submit" id="submit" value="Submit">
              </form>
              <br>
              <button class="GoToRegisterButton" style="color: rgb(106,146,168);text-align:center" onclick="location.href='/register'">没有账号？注册一下</button>
          </div>
      </div>
  </div>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg }}');
        {% endfor %}
    </script>
    {% endif %}

</body>
</html>